/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}


.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}  */


/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

 
body {
  font-family: 'montserrat', sans-serif;
  font-family: 'M PLUS Rounded 1c', 'Montserrat', sans-serif;  
  color: #fff;

  background: rgba(148,187,233,1);
  background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  

  background: #3F5EFB;
  background: linear-gradient(0deg, #FDBB2D 0%, #3F5EFB 100%);

  background: #22C1C3;
  background: linear-gradient(0deg, #FDBB2D 0%, #22C1C3 100%);

  background: #daae51;
  background: linear-gradient(0deg, #daae51 0%, #d53369 100%);

  background: #00d2ff;
  background: linear-gradient(0deg, #00d2ff 0%, #3a47d5 100%);
}

/* .app.warm {
  background-image: url('./Images/kansas-city-dentist-summer-heat.jpeg');
} */

 main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget {
  background: #fff;
  background: rgba(255,255,255, 0.25);
  box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
  overflow: hidden;
  width: 350px;
  min-width: 350px;
  height: 500px;
  min-height: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
}

.search-box {
  width: 80%;
  margin: 0;
  position: absolute;
  top: 5%;
  margin-left: -10px;
}

.search-bar {
  width: 33%;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 1em;
  padding: 3px 5px;
  transition: 0.4s ease;
}

.search-bar::placeholder {
  color: rgba(255,255,255, .7);
}

.search-bar:focus, .search-bar:hover {
  background-color: rgba(255,255,255, 0.25);
  color: rgba(0,0,0, .35);
  width: 100%;
}

.search-bar:focus::placeholder, .search-bar:hover::placeholder {
  color: rgba(0,0,0, .35);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.weather-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.weather-box .temp {
  padding: 15px 25px;
  color: #FFF;
  font-size: 6em;
  font-weight: 900;
  text-align: center;
} 

 .weather-box .weather {
  color: #FFF;
  font-size: 2em;
  font-weight: 300;
} 

.infoContainer {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.dogBtn {
  background: rgba(255, 255, 255, 0.5);
  color: #3a47d5;
  border-radius: 5px;
  padding: 1vmin 2vmin;
  text-decoration: none;
  position: absolute;
  top: 3vmin;
  right: 5vmin;
  font-size: 1em;
  padding: 3px 5px;
  transition: 0.4s ease;
}

a.dogBtn:hover, a.dogBtn:focus {
  font-size: 1.2em;
  background: rgba(255,255,255, .8);
} 